.benefits {
  &__title {
    text-align: center;
    margin-top: 180px;
    font-size: 56px;
    line-height: 1;
    margin-bottom: 50px;
    color: rgb(68, 68, 68);
  }

  &__overlay,
  .motivation__overlay {
    width: 178px;
    text-align: center;
  }

  &__items,
  .motivation__items {
    display: flex;
    justify-content: center;
    gap: 84px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.motivation {
  &__title {
    text-align: center;
    margin-top: 145px;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 4px;
    color: rgb(68, 68, 68);
  }

  &__subtitle {
    text-align: center;
    font-size: 40px;
    color: #b01736;
    line-height: 120%;
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .benefits {
    &__title {
      font-size: 28px;
      font-weight: 600;
      line-height: 100%;
    }

    &__items,
    .motivation__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 43px 0;
      justify-items: center;
      margin: 0px 10px;
    }

    &__item,
    .motivation__item {
      &:last-child {
        grid-column: span 2;
      }
    }
  }
  .motivation {
    &__title,
    &__subtitle {
      font-size: 22px;
      font-weight: 600;
      line-height: 120%;
    }
  }
}
